body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1388px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5676 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5677 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1388px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5678 {
  position:absolute;
  left:0px;
  top:0px;
  width:1388px;
  height:54px;
}
#u5679 {
  position:absolute;
  left:2px;
  top:19px;
  width:1384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:37px;
}
#u5680 {
  position:absolute;
  left:21px;
  top:8px;
  width:114px;
  height:37px;
  font-family:'Microsoft YaHei Bold', 'Microsoft YaHei';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u5681 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u5682 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5683 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:130px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.2);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5684 {
  position:absolute;
  left:0px;
  top:101px;
  width:200px;
  height:130px;
}
#u5685 {
  position:absolute;
  left:2px;
  top:57px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u5686 {
  position:absolute;
  left:0px;
  top:189px;
  width:200px;
  height:42px;
  color:#999999;
  text-align:left;
}
#u5687 {
  position:absolute;
  left:48px;
  top:14px;
  width:150px;
  word-wrap:break-word;
}
#u5688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u5688 {
  position:absolute;
  left:0px;
  top:59px;
  width:200px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u5689 {
  position:absolute;
  left:19px;
  top:12px;
  width:179px;
  word-wrap:break-word;
}
#u5690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:4px;
}
#u5690 {
  position:absolute;
  left:176px;
  top:79px;
  width:8px;
  height:4px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5691 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u5692 {
  position:absolute;
  left:0px;
  top:105px;
  width:200px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u5693 {
  position:absolute;
  left:48px;
  top:12px;
  width:150px;
  word-wrap:break-word;
}
#u5694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u5694 {
  position:absolute;
  left:0px;
  top:399px;
  width:200px;
  height:42px;
  color:#999999;
  text-align:left;
}
#u5695 {
  position:absolute;
  left:48px;
  top:14px;
  width:150px;
  word-wrap:break-word;
}
#u5696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u5696 {
  position:absolute;
  left:0px;
  top:231px;
  width:200px;
  height:42px;
  color:#999999;
  text-align:left;
}
#u5697 {
  position:absolute;
  left:48px;
  top:14px;
  width:150px;
  word-wrap:break-word;
}
#u5698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u5698 {
  position:absolute;
  left:0px;
  top:273px;
  width:200px;
  height:42px;
  color:#999999;
  text-align:left;
}
#u5699 {
  position:absolute;
  left:48px;
  top:14px;
  width:150px;
  word-wrap:break-word;
}
#u5700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u5700 {
  position:absolute;
  left:0px;
  top:315px;
  width:200px;
  height:42px;
  color:#999999;
  text-align:left;
}
#u5701 {
  position:absolute;
  left:48px;
  top:14px;
  width:150px;
  word-wrap:break-word;
}
#u5702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:4px;
}
#u5702 {
  position:absolute;
  left:175px;
  top:124px;
  width:8px;
  height:4px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5703 {
  position:absolute;
  left:2px;
  top:-6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u5704 {
  position:absolute;
  left:0px;
  top:357px;
  width:200px;
  height:42px;
  color:#999999;
  text-align:left;
}
#u5705 {
  position:absolute;
  left:48px;
  top:14px;
  width:150px;
  word-wrap:break-word;
}
#u5706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u5706 {
  position:absolute;
  left:0px;
  top:147px;
  width:200px;
  height:42px;
  color:#999999;
  text-align:left;
}
#u5707 {
  position:absolute;
  left:48px;
  top:14px;
  width:150px;
  word-wrap:break-word;
}
#u5708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u5708 {
  position:absolute;
  left:0px;
  top:441px;
  width:200px;
  height:42px;
  color:#999999;
  text-align:left;
}
#u5709 {
  position:absolute;
  left:48px;
  top:14px;
  width:150px;
  word-wrap:break-word;
}
#u5710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u5710 {
  position:absolute;
  left:0px;
  top:483px;
  width:200px;
  height:42px;
  color:#999999;
  text-align:left;
}
#u5711 {
  position:absolute;
  left:48px;
  top:14px;
  width:150px;
  word-wrap:break-word;
}
#u5712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:1000px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5712 {
  position:absolute;
  left:0px;
  top:53px;
  width:200px;
  height:1000px;
}
#u5713 {
  position:absolute;
  left:2px;
  top:492px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5714 {
  position:absolute;
  left:220px;
  top:68px;
  width:145px;
  height:18px;
  color:#999999;
}
#u5715 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u5716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:2px;
}
#u5716 {
  position:absolute;
  left:199px;
  top:100px;
  width:1189px;
  height:1px;
}
#u5717 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1000px;
}
#u5718 {
  position:absolute;
  left:1387px;
  top:54px;
  width:1px;
  height:999px;
}
#u5719 {
  position:absolute;
  left:2px;
  top:492px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:2px;
}
#u5720 {
  position:absolute;
  left:199px;
  top:1052px;
  width:1189px;
  height:1px;
}
#u5721 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5722 {
  position:absolute;
  left:200px;
  top:260px;
  width:1193px;
  height:74px;
}
#u5723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:39px;
}
#u5723 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:39px;
  font-size:14px;
  color:#999999;
}
#u5724 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u5725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:39px;
}
#u5725 {
  position:absolute;
  left:95px;
  top:0px;
  width:125px;
  height:39px;
  font-size:14px;
  color:#999999;
}
#u5726 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u5727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u5727 {
  position:absolute;
  left:220px;
  top:0px;
  width:101px;
  height:39px;
  font-size:14px;
  color:#999999;
}
#u5728 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u5729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:39px;
}
#u5729 {
  position:absolute;
  left:321px;
  top:0px;
  width:116px;
  height:39px;
  font-size:14px;
  color:#999999;
}
#u5730 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u5731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:39px;
}
#u5731 {
  position:absolute;
  left:437px;
  top:0px;
  width:120px;
  height:39px;
  font-size:14px;
  color:#999999;
}
#u5732 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u5733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:39px;
}
#u5733 {
  position:absolute;
  left:557px;
  top:0px;
  width:153px;
  height:39px;
  font-size:14px;
  color:#999999;
}
#u5734 {
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u5735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:39px;
}
#u5735 {
  position:absolute;
  left:710px;
  top:0px;
  width:119px;
  height:39px;
  font-size:14px;
  color:#999999;
}
#u5736 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u5737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:39px;
}
#u5737 {
  position:absolute;
  left:829px;
  top:0px;
  width:120px;
  height:39px;
  font-size:14px;
  color:#999999;
}
#u5738 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u5739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:39px;
}
#u5739 {
  position:absolute;
  left:949px;
  top:0px;
  width:120px;
  height:39px;
  font-size:14px;
  color:#999999;
}
#u5740 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u5741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:39px;
}
#u5741 {
  position:absolute;
  left:1069px;
  top:0px;
  width:119px;
  height:39px;
  font-size:14px;
  color:#999999;
}
#u5742 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u5743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u5743 {
  position:absolute;
  left:0px;
  top:39px;
  width:95px;
  height:30px;
  color:#999999;
}
#u5744 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u5745 {
  position:absolute;
  left:95px;
  top:39px;
  width:125px;
  height:30px;
  color:#999999;
}
#u5746 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u5747 {
  position:absolute;
  left:220px;
  top:39px;
  width:101px;
  height:30px;
  color:#999999;
}
#u5748 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u5749 {
  position:absolute;
  left:321px;
  top:39px;
  width:116px;
  height:30px;
  color:#999999;
}
#u5750 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u5751 {
  position:absolute;
  left:437px;
  top:39px;
  width:120px;
  height:30px;
  color:#999999;
}
#u5752 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u5753 {
  position:absolute;
  left:557px;
  top:39px;
  width:153px;
  height:30px;
  color:#999999;
}
#u5754 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u5755 {
  position:absolute;
  left:710px;
  top:39px;
  width:119px;
  height:30px;
  color:#999999;
}
#u5756 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u5757 {
  position:absolute;
  left:829px;
  top:39px;
  width:120px;
  height:30px;
  color:#999999;
}
#u5758 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u5759 {
  position:absolute;
  left:949px;
  top:39px;
  width:120px;
  height:30px;
  color:#999999;
}
#u5760 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u5761 {
  position:absolute;
  left:1069px;
  top:39px;
  width:119px;
  height:30px;
  font-size:12px;
  color:#999999;
}
#u5762 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u5763 {
  position:absolute;
  left:806px;
  top:139px;
  width:84px;
  height:44px;
  color:#0099FF;
}
#u5764 {
  position:absolute;
  left:2px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u5765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u5765 {
  position:absolute;
  left:698px;
  top:139px;
  width:84px;
  height:44px;
  color:#0099FF;
}
#u5766 {
  position:absolute;
  left:2px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u5767 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5768 {
  position:absolute;
  left:441px;
  top:152px;
  width:73px;
  height:18px;
  color:#999999;
}
#u5769 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5770 {
  position:absolute;
  left:514px;
  top:144px;
  width:133px;
  height:34px;
  color:#999999;
}
#u5771 {
  position:absolute;
  left:2px;
  top:9px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5772 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5773 {
  position:absolute;
  left:220px;
  top:152px;
  width:44px;
  height:18px;
  color:#999999;
}
#u5774 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u5775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5775 {
  position:absolute;
  left:298px;
  top:144px;
  width:133px;
  height:34px;
  color:#999999;
}
#u5776 {
  position:absolute;
  left:2px;
  top:9px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
